<table>
  <tfoot data-template-object="comment-add">
      <tr class="comment-add-{{article_id|safe}}">
        <td></td>
        <td>
          <form class="comment-form" name="comment-form" article="{{article_id|safe}}" action="none" method="post">
            <p>
              <textarea id="comment-text-{{article_id|safe}}" class="comment-text" name="comment-text" title="add your comment..."></textarea>
            </p>
          </form>
        </td>
      </tr>
  </tfoot>
  <tbody data-template-object="comment-list" id="comment-table-{{article_id|safe}}">
    <tr data-template-object="comment" class="comment" id="comment-{{article_id|safe}}-{{comment_id|safe}}" article="{{article_id|safe}}" comment-id="{{comment_id|safe}}" author="{{nickname|safe}}" style="">
		<td class="comment-info"></td>
		<td class="comment-display">
			<div>
				<a href="{{user_url|safe}}" title="{{user_activity|safe}}" class="no-ajax comment-user">{{nickname|safe}}</a>
				<span class="comment-display" data-template-object="comment-display">{{comment_display}}</span><br />
				<span class="comment-date" dir="ltr">
					<span title="{{comment_date|date:"M d Y"}}" class="comment-relativetime">{{comment_date|timesince}} ago</span>
				</span>
				<span class="comment-delete delete-tag" title="delete this comment"></span>
			</div>
		</td>
    </tr>
    <tr data-template-object="comment-deleted" class="comment deleted" id="comment-{{article_id|safe}}-{{comment_id|safe}}"  article="{{article_id|safe}}" comment-id="{{comment_id|safe}}">
    </tr>
    <tr data-template-object="comment-hidden" class="comment hidden" id="comment-{{article_id|safe}}"  article="{{article_id|safe}}" comment-id="{{comment_id|safe}}" author="{{nickname|safe}}" >
      <td class="comment-info"></td>
      <td class="comment-display">
	  <div>
		  <a href="" title="" class="comment-user"></a> 
		  <span class="comment-display"></span>
		  <br />
		  <span class="comment-date" dir="ltr">
		  <span title="comment date" class="comment-relativetime">0 minutes ago</span>
		  </a>
		  </span>
		  <span class="comment-delete delete-tag" title="delete this comment"></span>
	  </div>
	  </td>
    </tr>
  </tbody>
</table>

<div class="row" data-template-object="article">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="post-preview">
			<a class="article-link no-ajax" href="{{article_link}}">
				<h2 class="post-title">
					{{article_title}}
				</h2>
				<h3 class="post-subtitle">
					{{article_content}}
				</h3>
			</a>
			<p class="post-meta author">Posted by <a class="author-link no-ajax" href="{{article_author_link}}">{{article_author}}</a> <span>{{view_status|safe}} {{edit_link|safe}}</span></p>
		</div>
		<hr>
	</div>
</div>

<div class="row" data-template-object="pagination">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<ul class="pager">
			<li class="next">
				<a class="bookmark" data-bookmark="{{next_url}}">More Posts &rarr;</a>
			</li>
		</ul>
	</div>
</div>

<div class="row" data-template-object="article">
    <article>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{{article_embed|safe}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{{article_content}}
                </div>
            </div>
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{{article_comments|safe}}
                </div>
            </div>
        </div>
    </article>
    <hr>
</div>

<a data-template-object="login-tw" href="{{login_url}}">
	<span class="fa-stack fa-lg">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	</span>
</a>

<a data-template-object="login-fb" href="{{login_url}}">
	<span class="fa-stack fa-lg">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	</span>
</a>

<a data-template-object="login-gg" href="{{login_url}}">
	<span class="fa-stack fa-lg">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-google fa-stack-1x fa-inverse"></i>
	</span>
</a>

<!--
<div>
	<div data-template-object="comment-add" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 comment">
		<div class="post-preview comment-add-{{article_id|safe}}">
			<div></div>
			<h3 class="post-subtitle">
			  <form class="comment-form form-group" name="comment-form" article="{{article_id|safe}}" action="none" method="post">
				<p>
				  <textarea id="comment-text-{{article_id|safe}}" class="comment-text" name="comment-text" title="add your comment..."></textarea>
				</p>
			  </form>
			</h3>
		</div>
		<hr>
	</div>
	<div data-template-object="comment-list" id="comment-table-{{article_id|safe}}" class="row">
		<div data-template-object="comment" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 comment" id="comment-{{article_id|safe}}-{{comment_id|safe}}" article="{{article_id|safe}}" comment-id="{{comment_id|safe}}" author="{{nickname|safe}}">
			<div class="post-preview">
				<h3 class="post-subtitle">
					<span class="comment-display" data-template-object="comment-display">{{comment_display}}</span>
				</h3>
				<p class="post-meta author">Posted by <a class="author-link no-ajax" href="{{user_url|safe}}">{{nickname|safe}}</a> <span class="comment-date" dir="ltr">
						<span title="{{comment_date|date:"M d Y"}}" class="comment-relativetime">{{comment_date|timesince}} ago</span>
					</span>
					<span class="comment-delete delete-tag" title="delete this comment"></span>
				</p>
			</div>
			<hr>
		</div>
		<div data-template-object="comment-deleted" class="comment deleted" id="comment-{{article_id|safe}}-{{comment_id|safe}}"  article="{{article_id|safe}}" comment-id="{{comment_id|safe}}"></div>
		<div data-template-object="comment-hidden" class="comment hidden" id="comment-{{article_id|safe}}"  article="{{article_id|safe}}" comment-id="{{comment_id|safe}}" author="{{nickname|safe}}">
			<div class="post-preview">
				<h3 class="post-subtitle">
					<span class="comment-display" data-template-object="comment-display">{{comment_display}}</span>
				</h3>
				<p class="post-meta author">Posted by <a class="author-link no-ajax" href="{{user_url|safe}}">{{nickname|safe}}</a> <span class="comment-date" dir="ltr">
						<span title="comment date" class="comment-relativetime">{{comment_date|timesince}} ago</span>
					</span>
					<span class="comment-delete delete-tag" title="delete this comment"></span>
				</p>
			</div>
			<hr>		
		</div>
	</div>
</div>
-->