<div class="row" data-template-object="comment">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="post-preview">
			<a href="post.html">
				<h2 class="post-title">
					Man must explore, and this is exploration at its greatest
				</h2>
				<h3 class="post-subtitle">
					Problems look mighty small from 150 miles up
				</h3>
			</a>
			<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
		</div>
		<hr>
	</div>
</div>

<div class="row" data-template-object="article">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="post-preview">
			<a class="article-link no-ajax" href="{{article_link}}">
				<h2 class="post-title">
					{{article_title|safe}}
				</h2>
				<h3 class="post-subtitle">
					{{article_content}}
				</h3>
			</a>
			<p class="post-meta author">Posted by <a class="author-link no-ajax" href="{{article_author_link}}">{{article_author}}</a></p>
		</div>
		<hr>
	</div>
</div>

<div class="row" data-template-object="pagination">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<ul class="pager">
			<li class="next">
				<a class="bookmark" data-bookmark="{{next_url}}">More Posts &rarr;</a>
			</li>
		</ul>
	</div>
</div>